alpaca-py==0.7.1
asgiref==3.6.0
backtrader==1.9.76.123
certifi==2022.12.7
charset-normalizer==3.0.1
colorclass==2.2.2
contourpy==1.0.7
cycler==0.11.0
Django==4.1.5
django-crispy-forms==1.14.0
docopt==0.6.2
fonttools==4.38.0
idna==3.4
kiwisolver==1.4.4
matplotlib==3.6.3
mpmath==1.2.1
msgpack==1.0.4
numpy==1.24.1
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pip-upgrader==1.4.15
pipreqs==0.4.11
plotly==5.13.0
psycopg2-binary==2.9.5
pydantic==1.10.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
scipy==1.10.1
six==1.16.0
sqlparse==0.4.3
sseclient-py==1.7.2
sympy==1.11.1
tenacity==8.2.1
terminaltables==3.1.10
typing_extensions==4.4.0
tzdata==2022.7
urllib3==1.26.14
websockets==10.4
yarg==0.1.9
