.alert {
      padding: 5px;
      background-color: #f44336; /* Red */
      color: white;
      margin-bottom: 5px;
    }

.closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

.closebtn:hover {
          color: black;
        }


h1 {
 text-align: center;
 margin-top: 50px;
 margin-bottom: 30px;
}


form {
 margin-left: auto;
 margin-right: auto;
 max-width: 600px;
 padding: 20px;
 border: 1px solid #ccc;
 border-radius: 5px;
 box-shadow: 0 0 5px #ccc;
 
}


label {
 display: block;
 margin-top: 10px;
}


input[type="date"],
input[type="number"],
input[type="text"],
select {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 box-sizing: border-box;
 border: 2px solid #ccc;
 border-radius: 4px;
 background-color: #f8f8f8;
 font-size: 16px;
}


button[type="submit"] {
 margin: 0 auto;
 display: block;
 background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 12px 20px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 cursor: pointer;
 border-radius: 4px;
}


button[type="submit"]:hover {
 background-color: #45a049;
}


#rsi-fields,
#ma-fields,
#atr-fields,
#fib-fields,
#bb-fields {
 display: none;
}

  

  
