#input-dropdown {
    position: relative;
    display: inline-block;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*top: 100%;*/
    left: 0;
    z-index: 1;
    background-color: #f1f1f1;
    min-width: 160px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 0;
    overflow-y: auto;
    max-height: 150px;
}

.dropdown-content a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.section-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    padding:8px;
}

.balance-box{
    padding: 15px;
    margin-bottom: 30px;
}