{% extends 'user/base.html' %}

{% block navEle %}
<a href="/user/logout" class="btn btn-outline-success my-2 my-sm-0" role="button">Log out</a>
{% endblock %}

{% block content %}

<div class="text-center">
    <h2>Algorithms</h2>
    <div style="margin-top: 125px;"></div>
  </div>


 <div class="container">
    <div class="row">
      <div class="col-4">
        <a class="btn btn-secondary btn-block my-3" href="#section1">Overall Analysis</a>
      </div>
      <div class="col-4">
        <a class="btn btn-secondary btn-block my-3" href="#section2">Algorithm Analysis</a>
      </div>
      <div class="col-4">
        <a class="btn btn-secondary btn-block my-3" href="#section3">Back-testing</a>
      </div>
    </div>
  </div>

<div id="section1">
   <h1>Overall Analysis</h1>
   <h6>Overall Profits</h6>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</div>


<div id="section2">
   <h1>Algorithm Analysis</h1>
   <br>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</div>


<div id="section3">
   <h1>Back-testing</h1>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>
{% endblock %}