{% extends 'user/base.html' %}
{% load mathfilters %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<div class="container mt-2 bg-light">
    <h3 class="text-center">Account Balance </h3>
    {% if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Equity</th>
            <th scope="col">Change of Today</th>
            <th scope="col"> % Change of Today</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="equity">${{account.equity|floatformat:2}}</td>
            <td id="change-of-today">${{account.equity|sub:account.last_equity|floatformat:2}}</td>
            <td id="perc-change-of-today">{{account.equity|sub:account.last_equity|div:account.last_equity|mult:100|floatformat:2}}%</td>
        </tr>
        </tbody>
    </table>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}
</div>

<div class="container text-center mt-4">
    <h3 class="text-center">Positions</h3>
    {%if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Quantity</th>
            <th scope="col">Last Price</th>
            <th scope="col">% Change of Today</th>
            <th scope="col">Cost Basis</th>
            <th scope="col">Market Value</th>
            <th scope="col">Total Earning</th>
        </tr>
        </thead>
        <tbody>
        {% for position in positions%}
        <tr>
            <th scope="row">{{position.symbol}}</th>
            <td>{{position.qty}}</td>
            <td>${{position.current_price}}</td>
            <td>{{ position.change_today|mult:100|floatformat:2 }}%</td>
            <td>${{position.cost_basis|floatformat:2}}</td>
            <td>${{position.market_value|floatformat:2}}</td>
            <td>{{ position.market_value|sub:position.cost_basis|floatformat:2}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <a href="/user/all-positions/" class="btn btn-primary">View All Positions</a>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}

</div>

<div class="container text-center mt-4 bg-light">
    <h3> Activated Algorithms </h3>
    <div class="container pb-4">
        {% if activated_algorithms|length == 0 %}
        <h5>You haven't activated any trading algorithms yet</h5>
        {% else %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Algorithm Name</th>
                <th scope="col">Applied Stock</th>
            </tr>
            </thead>
            <tbody>
            {% for algorithm in activated_algorithms%}
            <tr>
                <td>{{algorithm.algorithm}}</td>
                <td>{{algorithm.stock_name}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        {% endif %}
        <a href="/user/algorithms" class="btn btn-primary"> View All Activated Algorithms</a>
    </div>
</div>

<div class="container text-center mt-4">
    <h3 class="text-center">Trading History</h3>
    {%if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Order Type</th>
            <th scope="col">Time</th>
            <th scope="col">Quantity</th>
            <th scope="col">Average Cost</th>
            <th scope="col">Total Amount</th>
        </tr>
        </thead>
        <tbody>
        {%for activity in activities %}
        {%if activity.side == 'buy' or activity.side == 'sell'%}
        <tr>
            <th scope="row">{{activity.symbol}}</th>
            <td>{{activity.side}}</td>
            <td>{{activity.transaction_time}}</td>
            <td>{{activity.qty}}</td>
            <td>${{activity.price}}</td>
            <td>${{activity.price|mult:activity.qty|floatformat:2}}</td>
        </tr>
        {%endif%}
        {%endfor%}
        </tbody>
    </table>
    <a href="/user/all-activities/" class="btn btn-primary"> View All History</a>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}

</div>

<div class="container mt-4 mb-4 bg-light">
    <div>
        <div class="text-center">
            <span class="h3"> Watch List </span>
            {%if is_account_linked %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-watchlist">
                +
            </button>

            <!-- Modal -->
            <div class="modal fade" id="add-watchlist" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add stock to watch list</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/user/add-to-watchlist/" method="post" class="mb-4">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div style="position: relative">
                                    <input type="text" class="form-control" name="stock-symbol" id="myInput"
                                           placeholder="Enter Stock Symbol Here">
                                    <div class="dropdown-content" id="myDropdown">
                                        {%for stocks in all_stocks_alphabet%}
                                        <div class="index{{forloop.counter}}">
                                            {%for stock in stocks %}
                                            <a style="display: none">{{stock}}</a>
                                            {%endfor%}
                                        </div>
                                        {%endfor%}
                                    </div>
                                </div>

                                <input type="hidden" name="watchlist-id" value={{watchlist.id}}>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>

    {%if not is_account_linked %}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%elif watchlist.assets|length == 0 %}
    <div class="container text-center pb-4">
        <h6> Your watch list is empty, add some stocks to your watch list.</h6>
    </div>
    {%else%}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Price</th>
            <th scope="col">Change of Today</th>
            <th scope="col">% Change of Today</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%for asset in watchlist.assets%}
        <tr>
            <th scope="row">{{asset.symbol}}</th>
            <td id="watch-list-price-{{forloop.counter}}">${{asset.current_price|floatformat:2}}</td>
            <td id="watch-list-change-of-today-{{forloop.counter}}">${{asset.price_change|floatformat:2}}</td>
            <td id="watch-list-perc-change-of-today-{{forloop.counter}}">{{asset.price_change_perc|floatformat:2}}%</td>
            <th scope="col">
                <form action="/user/remove-from-watchlist/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="watchlist-id" value={{watchlist.id}}>
                    <input type="hidden" name="stock-symbol" value={{asset.symbol}}>
                    <button type="submit" class="btn btn-danger"> &times;</button>
                </form>
            </th>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    {%endif%}
</div>

<script src="{% static 'script/dashboard.js' %}"></script>
<script>
    function updateAccount(){
        $.ajax({
           url: '/user/get-account/',
           type:'GET',
           success: function(data){
               if (data.is_account_linked) {
                   $('#equity').text("$" +data.account.equity);
                   $('#change-of-today').text("$" + data.account.change_of_today);
                   $('#perc-change-of-today').text(data.account.perc_change_of_today + "%");
                   for (var i = 1; i<=data.watchlist.assets.length; i++){
                       $('#watch-list-price-' + i).text("$" + data.watchlist.assets[i-1].current_price)
                       $('#watch-list-change-of-today-' + i).text("$" + data.watchlist.assets[i-1].price_change.toFixed(2))
                       $('#watch-list-perc-change-of-today-' + i).text(data.watchlist.assets[i-1].price_change_perc.toFixed(2) + "%")
                   }
               }
           }, error: function(xhr, status, error){
               console.log('Error:', error);
            }
        });
    }
    setInterval(updateAccount, 3000);
</script>
{% endblock %}