{% extends 'user/base.html' %}
{% load mathfilters %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} {%if message.tags == 'error'%} alert-danger {%endif%} alert-dismissible fade show" role="alert">
    {{message}}
</div>
{%endfor%}
{%endif%}
<div class="container mt-2 bg-light">
    <h3>Account Balance </h3>
    {% if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Equity</th>
            <th scope="col">Change of Today</th>
            <th scope="col"> % Change of Today</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>${{account.equity|floatformat:2}}</td>
            <td>${{account.equity|sub:account.last_equity|floatformat:2}}</td>
            <td>{{account.equity|sub:account.last_equity|div:account.last_equity|mult:100|floatformat:2}}%</td>
        </tr>
        </tbody>
    </table>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}
</div>

<div class="container mt-4">
    <h3>Positions</h3>
    {%if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Quantity</th>
            <th scope="col">Last Price</th>
            <th scope="col">% Change of Today</th>
            <th scope="col">Cost Basis</th>
            <th scope="col">Market Value</th>
            <th scope="col">Total Earning</th>
        </tr>
        </thead>
        <tbody>
        {% for position in positions%}
        <tr>
            <th scope="row">{{position.symbol}}</th>
            <td>{{position.qty}}</td>
            <td>${{position.current_price}}</td>
            <td>${{ position.change_today|mult:100|floatformat:2 }}%</td>
            <td>${{position.cost_basis|floatformat:2}}</td>
            <td>${{position.market_value|floatformat:2}}</td>
            <td>{{ position.market_value|sub:position.cost_basis|floatformat:2}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}

</div>

<div class="container mt-4 bg-light">
    <h3> Activated Algorithms </h3>
    <div class="container">
        <strong> Algo 1: </strong>
        <ul>
            <li> AAPL</li>
            <li> MSFT</li>
        </ul>
        <string> Algo 2:</string>
        <ul>
            <li>SPY</li>
        </ul>
        <a href="/user/algorithms" class="btn btn-primary"> Edit Activated Algorithms</a>
    </div>
</div>

<div class="container mt-4">
    <h3>Trading History</h3>
    {%if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Order Type</th>
            <th scope="col">Time</th>
            <th scope="col">Quantity</th>
            <th scope="col">Average Cost</th>
            <th scope="col">Total Amount</th>
        </tr>
        </thead>
        <tbody>
        {%for activity in activities %}
        {%if activity.side == 'buy' or activity.side == 'sell'%}
        <tr>
            <th scope="row">{{activity.symbol}}</th>
            <td>{{activity.side}}</td>
            <td>{{activity.transaction_time}}</td>
            <td>{{activity.qty}}</td>
            <td>${{activity.price}}</td>
            <td>${{activity.price|mult:activity.qty|floatformat:2}}</td>
        </tr>
        {%endif%}
        {%endfor%}
        </tbody>
    </table>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}

</div>

<div class="container mt-4 mb-4 bg-light">
    <div>
        <span class="h3"> Watch List </span>
        {%if is_account_linked %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-watchlist">
            +
        </button>

        <!-- Modal -->
        <div class="modal fade" id="add-watchlist" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add stock to watch list</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/user/add-to-watchlist/" method="post" class="mb-4">
                        {% csrf_token %}
                        <div class="modal-body">
                            <input type="text" class="form-control" name="stock-symbol"
                                   placeholder="Enter Stock Symbol Here">
                            <input type="hidden" name="watchlist-id" value={{watchlist.id}}>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {%endif%}
    </div>

    {%if not is_account_linked %}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%elif watchlist.assets|length == 0 %}
    <div class="container text-center pb-4">
        <h6> Your watch list is empty, add some stocks to your watch list.</h6>
    </div>
    {%else%}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Price</th>
            <th scope="col">Change of Today</th>
            <th scope="col">% Change of Today</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {%for asset in watchlist.assets%}
        <tr>
            <th scope="row">{{asset.symbol}}</th>
            <td>${{asset.current_price|floatformat:2}}</td>
            <td>${{asset.price_change|floatformat:2}}</td>
            <td>{{asset.price_change_perc|floatformat:2}}%</td>
            <th scope="col">
                <form action="/user/remove-from-watchlist/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="watchlist-id" value={{watchlist.id}}>
                    <input type="hidden" name="stock-symbol" value={{asset.symbol}}>
                    <button type="submit" class="btn btn-danger"> &times;</button>
                </form>
            </th>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    {%endif%}
</div>
{% endblock %}