{% extends 'user/base.html' %}
{% load mathfilters %}

{% block content %}
<div class="container mt-2 bg-light">
    <h3>Account Balance </h3>
    {% if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Equity</th>
            <th scope="col">Change of Today</th>
            <th scope="col"> % Change of Today</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>${{account.equity|floatformat:2}}</td>
            <td>${{account.equity|sub:account.last_equity|floatformat:2}}</td>
            <td>{{account.equity|sub:account.last_equity|div:account.last_equity|mult:100|floatformat:2}}%</td>
        </tr>
        </tbody>
    </table>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}
</div>

<div class="container mt-4">
    <h3>Positions</h3>
    {%if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Quantity</th>
            <th scope="col">Last Price</th>
            <th scope="col">% Change of Today</th>
            <th scope="col">Cost Basis</th>
            <th scope="col">Market Value</th>
            <th scope="col">Total Earning</th>
        </tr>
        </thead>
        <tbody>
        {% for position in positions%}
        <tr>
            <th scope="row">{{position.symbol}}</th>
            <td>{{position.qty}}</td>
            <td>${{position.current_price}}</td>
            <td>${{ position.change_today|mult:100|floatformat:2 }}%</td>
            <td>${{position.cost_basis|floatformat:2}}</td>
            <td>${{position.market_value|floatformat:2}}</td>
            <td>{{ position.market_value|sub:position.cost_basis|floatformat:2}}</td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}

</div>

<div class="container mt-4 bg-light">
    <h3> Activated Algorithms </h3>
    <div class="container">
        <strong> Algo 1: </strong>
        <ul>
            <li> AAPL</li>
            <li> MSFT</li>
        </ul>
        <string> Algo 2:</string>
        <ul>
            <li>SPY</li>
        </ul>
        <a href="" class="btn btn-primary"> Edit Activated Algorithms</a>
    </div>
</div>

<div class="container mt-4">
    <h3>Trading History</h3>
    {%if is_account_linked %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Order Type</th>
            <th scope="col">Time</th>
            <th scope="col">Quantity</th>
            <th scope="col">Average Cost</th>
            <th scope="col">Total Amount</th>
        </tr>
        </thead>
        <tbody>
        {%for activity in activities %}
        {%if activity.side == 'buy' or activity.side == 'sell'%}
        <tr>
            <th scope="row">{{activity.symbol}}</th>
            <td>{{activity.side}}</td>
            <td>{{activity.transaction_time}}</td>
            <td>{{activity.qty}}</td>
            <td>${{activity.price}}</td>
            <td>${{activity.price|mult:activity.qty|floatformat:2}}</td>
        </tr>
        {%endif%}
        {%endfor%}
        </tbody>
    </table>
    {%else%}
    <div class="container text-center">
        <h6> Ops, We can't link to your Alpaca account</h6>
        <h6> Please Update your api key and secret key of your Alpaca Account</h6>
    </div>
    {%endif%}

</div>

<div class="container mt-4 bg-light">
    <h3> Watch List</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Asset</th>
            <th scope="col">Price</th>
            <th scope="col">Change of Today</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">META</th>
            <td>$150</td>
            <td>+2%</td>
        </tr>
        <tr>
            <th scope="row">GOOGL</th>
            <td>$100.00</td>
            <td>-1%</td>
        </tr>
        <tr>
            <th scope="row">AMZN</th>
            <td>$110</td>
            <td>+1.50%</td>
        </tr>
        </tbody>
    </table>
</div>


{% endblock %}