{% extends 'user/base.html' %}

{% block content %}
<style>
    a {
        color:grey;
    }
</style>
<div style="min-height: calc(100vh - 80px); padding-top:65px;">
    <div class="row">
        <nav class="nav nav-pills flex-column col-md-2">
            <a class="nav-link" href="#introduction">Introduction</a>
            <a class="nav-link" href="#getting-start">Getting Start</a>
            <a class="nav-link" href="#algorithms">Algorithms</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3 my-1" href="#moving-average">Moving Average</a>
                <a class="nav-link ml-3 my-1" href="#relative-strength-indicator">Relative Strength Indicator</a>
                <a class="nav-link ml-3 my-1" href="#average-true-range">Average True Range</a>
                <a class="nav-link ml-3 my-1" href="#macd">MACD</a>
                <a class="nav-link ml-3 my-1" href="#bollinger-bands">Bollinger Bands</a>
            </nav>
        </nav>

        <div data-spy="scroll" data-offset="0">
            <h4 id="introduction">Introduction</h4>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>

            <h4 id="getting-start">Getting Start</h4>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <h4 id="algorithm">Algorithms</h4>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <h5 id="moving-average">MA</h5>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <h5 id="relative-strength-indicator">RSI</h5>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <h5 id="average-true-range">ATR</h5>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <h5 id="macd">MACD</h5>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <h5 id="bollinger-bands">BB</h5>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
            <p>..ksjafjshdfkjdskfhdsfhhds.</p>
        </div>
    </div>


</div>
{% endblock %}