{% extends 'user/base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">Recommendations</h2>
      <div class="form-group">
        <form method="POST">
          {% csrf_token %}
          <select class="form-control" id="period-select" name="select_period" onchange="this.form.submit()">
            <option disabled selected>Select Period</option>
            <option value="covid">Period 1: Covid19 (2019-2023)</option>
            <option value="2008">Period 2: 2008 Financial Crisis (2007-2013)</option>
            <option value="dotcom">Period 3: Dotcom Bubble (1995-2007)</option>
            <option value="period-4">Period 4: Live</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div id="period-cards">
        {% for index, row in df.iterrows %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Algorithm: {{ row.algorithm }}</h5>
            <p class="card-text">Stock Name: {{ row.stock_name }}</p>
            <p class="card-text">Percent Difference: {{ row.Percent_Difference }}</p>
            {{ row.plots|safe }}
            <button class="btn btn-primary" onclick="showPopup('{{row.investment_amount}}', '{{row.short_moving_avg}}', '{{row.long_moving_avg}}', '{{ row.current }}', '{{ row.potential }}')">See More Details</button>
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="no-strategies" class="text-center mt-4" style="display:none;">
        <h5>No strategies generated during this time frame</h5>
      </div>
    </div>
  </div>

  <script>

    function showPopup(investment_amount, short_moving_avg, long_moving_avg, current, potential) {
      var popup = window.open("", "popup", "width=800,height=600");
      var popupDocument = popup.document;
    
      var style = popupDocument.createElement("style");
      style.innerHTML = `
        body {
          font-family: Arial, sans-serif;
          background-color: #f7f7f7;
          margin: 0;
          padding: 1rem;
        }
        h1 {
          font-size: 1.5rem;
          margin-top: 0;
        }
        p {
          margin: 0;
          padding: 0.5rem 0;
        }
        .info {
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          padding: 1rem;
        }
        .graph {
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          box-shadow: 0 2px 4px rgba(0,0,0,0.2);
          height: 300px;
          margin-top: 1rem;
          overflow: hidden;
        }
        .close-btn {
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          color: #333;
          cursor: pointer;
          font-size: 1rem;
          padding: 0.5rem 1rem;
          text-align: center;
          transition: all 0.2s ease;
        }
        .close-btn:hover {
          background-color: #f7f7f7;
        }
      `;
      popupDocument.head.appendChild(style);
    
      var infoDiv = popupDocument.createElement("div");
      infoDiv.classList.add("info");

      // investment_amount, short_moving_avg, long_moving_avg,

      var graphDiv = popupDocument.createElement("div");
      graphDiv.classList.add("graph");

      var investmentAmountDiv = popupDocument.createElement("div");
      investmentAmountDiv.classList.add("info");

      var shortDiv = popupDocument.createElement("div");
      shortDiv.classList.add("info");

      var longDiv = popupDocument.createElement("div");
      longDiv.classList.add("info");
      
    
      var investmentElement = popupDocument.createElement("p");
      investmentElement.innerHTML = "<strong>Investment:</strong> " + investment_amount;
      infoDiv.appendChild(investmentElement);

      var shortElement = popupDocument.createElement("p");
      shortElement.innerHTML = "<strong>Short Moving Average:</strong> " + short_moving_avg;
      infoDiv.appendChild(shortElement);

      var longElement = popupDocument.createElement("p");
      longElement.innerHTML = "<strong>Long Moving Average:</strong> " + long_moving_avg;
      infoDiv.appendChild(longElement);

      var currentEarningsElement = popupDocument.createElement("p");
      currentEarningsElement.innerHTML = "<strong>Current Earnings:</strong> " + current;
      infoDiv.appendChild(currentEarningsElement);
    
      var potentialEarningsElement = popupDocument.createElement("p");
      potentialEarningsElement.innerHTML = "<strong>Potential Earnings:</strong> " + potential;
      infoDiv.appendChild(potentialEarningsElement);
    
      var closeButton = popupDocument.createElement("p");
      closeButton.classList.add("close-btn");
      closeButton.innerHTML = "Close";
      closeButton.onclick = function() {
        popup.close();
      };
      popupDocument.body.appendChild(closeButton);
    
      popupDocument.body.appendChild(infoDiv);
    }
    </script>
    
    

{% endblock %}

