{% extends 'user/base.html' %}

{% block navEle %}
<a href="/user/logout" class="btn btn-outline-success my-2 my-sm-0" role="button">Log out</a>
{% endblock %}

{% block content %}

<div class="text-center">
  <h2>Recommendations</h2>
  <div style="margin-top: 125px;"></div>
</div>

<div class="d-flex justify-content-around">
  <div style="background-color: black; height: 200px; width: 200px; display: flex; justify-content: center; align-items: center;">
    <div style="background-color: white; height: 75px; width: 75px;"></div>
  </div>
  <div style="background-color: black; height: 200px; width: 200px; display: flex; justify-content: center; align-items: center;">
    <div style="background-color: white; height: 75px; width: 75px;"></div>
  </div>
  <div style="background-color: black; height: 200px; width: 200px; display: flex; justify-content: center; align-items: center;">
    <div style="background-color: white; height: 75px; width: 75px;"></div>
  </div>
</div>

<div class="d-flex justify-content-around mt-3">
  <h4>Recommendation 1</h4>
  <h4>Recommendation 2</h4>
  <h4>Recommendation 3</h4>
</div>

<div class="d-flex justify-content-around mt-3">
  <a href="#" class="btn btn-secondary">See More Details</a>
  <a href="#" class="btn btn-secondary">See More Details</a>
  <a href="#" class="btn btn-secondary">See More Details</a>
</div>

<hr style="margin-top: 175px;">

<div class="text-center" style="margin-top: 20px;">
  <h5>HODL</h5>
  <hr style="width: 50%;">
  <p> &copy 2022-2023</p>
</div>


{% endblock %}
