{% extends 'user/base.html' %}

{% block navEle %}
<a href="/user/logout" class="btn btn-outline-success my-2 my-sm-0" role="button">Log out</a>
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{%endfor%}
{%endif%}
<div class="row justify-content-center text-center">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <legend class="mb-2">Brokerage API Key</legend>
            <input type="text" class="form-control" name="api-key" value="{{ api_key }}"
                   placeholder="Enter brokerage api key">
            <small class="form-text text-muted">We'll never share your api key with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}