{% extends 'user/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{%endfor%}
{%endif%}
<div class="row justify-content-center text-center">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <legend class="mb-2">Brokerage API Key</legend>
            <label> API Key: </label>
            <input type="text" class="form-control" name="api-key" value="{{ api_key }}"
                   placeholder="Enter brokerage api key">
            <br>
            <label> Secret Key: </label>
            <input type="text" class="form-control" name="secret-key" value="{{ secret_key }}"
                   placeholder="Enter brokerage secret key">
            <small class="form-text text-muted">We'll never share your api key and secret key with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}